/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pattern {

    background-color:rgb(0, 156, 253);
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: contain;
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-left: 5px;

}

.logo {

    height: 40px;
}

main {

    margin-left: 5px;
    margin-right: 5px;
}

h1 {

    margin-top: 10px;
}


.credits {

    color: rgb(120, 118, 118);
    font-size: 12px ;
}
.light-blue-color {

    color: rgb(52, 127, 240) ;
}

.picture-left{

    width: 49%;
    height: 220px;

}

.picture-right{

    width: 49%;
    height: 220px;

}

.pictures {

    display:inline-table;
    margin-top: 5px;
    margin-bottom: 5px;

}
.desciption-pictures {

    font-size: 8px;
    margin-bottom: 10px;
}

.article {

    font-size: 10px;

}

.highlighter {

    background-color: yellow;

}

ul {

    padding-left: 10px;
    margin-top: 10px;
}